<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  
  <br><br><div class="smallerCircularProfilePic" style="text-align:center"></div>
  <!-- <img src="/public/images/profile.png" alt=""> -->
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
    <div class="social-links-wrapper">
      <ul class="social-links" id="social">
          <li><a href="https://www.linkedin.com/in/cuongquocnguyen/"><i class="fa fa-linkedin fa-inverse"></i></a></li>
          <li><a href="https://twitter.com/cuong_qnguyen"><i class="fa fa-twitter fa-inverse"></i></a></li>
          <li><a href="https://github.com/cuongqn"><i class="fa fa-github-alt fa-inverse"></i> </a></li>
      </ul>
    </div>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
    <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} Cuong Nguyen. All rights reserved.
    </p>
  </div>
</div>
